*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.header {
    margin-top: 20px;
    background-image: url("cover3.png") !important;
    max-height: 100%;
    background-repeat:no-repeat;
background-size: 90% auto ;


background-position:center;


}
.ttt{
    height: 10vw;
    width: 10vw;
}
.c1,.c2,.c3{
    font-size: 2vw;
    color: #f1f1f1;
}
a{
    text-decoration: none;
}
td{
    border: 2px solid black;
    height: 4.2vw !important;
    width: 4.2vw !important;
    font-size: 3vw !important;


    text-align: center;
    font-family: 'Baloo Da', cursive;
    cursor: pointer;
    position: relative;
    color: black;
}   

table{
    background-color: #f1f1f1;
    border-collapse: collapse;
    position: relative;
    display: block;
    text-align: center;
}
table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}
table tr td:first-child{
    border-left: 0;
}
table tr td:last-child{
    border-right: 0;
}
#menu-starter{
    display: block;
    position: relative;
    z-index: -20;
}
.menu{
    width: 100%;
    z-index: 0;
    position: relative;
}
.main{
    display: none;
    height: auto;
    width: 100%;
    color: #f1f1f1;
}
.content-main{
    display: grid ;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    grid-template-columns: 20% 60% 20%;
}
.header{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}
.lines{
    display: flex;
    justify-content: center;
}
.line{
    width: 13vw;
    height: 1.5vh;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
ul{
    text-align: center;
    margin-top: 200px;
}
.option1,.option2,.option3{
    text-decoration: none;
    color: #f1f1f1;
    font-family: 'Permanent Marker', cursive;
    height: auto;
    position: relative;
    cursor: pointer;
}
.option1{
    width: 9vw;
}
.option2{
    width: 19vw;
}
.option3{
    width: 10vw;
}
.c1,.c2{
    margin-right: 5px;
}
.c1:hover, .c2:hover, .c3:hover{
    transform: translateY(-5px);
}
.option:hover{
    transform: translateX(10px);
    text-decoration: solid;
    text-decoration-color: antiquewhite;
}
.line1, .line2, .line3{
    margin-top: -11px;
    height: 5px;
    width: 0px;
    background-color: white;
}
.flex-box{
    display: grid;
    justify-content: center;
}
.option1:hover ~ .lines .line1{
    width: 8.5vw;
    transition-property: width;
    transition-duration: 0.5s;
}
.option2:hover ~  .lines .line2{
    width: 19vw;
    transition-property: width;
    transition-duration: 0.5s;
}
.option3:hover ~  .lines .line3{
    width: 9.5vw;
    transition-property: width;
    transition-duration: 0.5s;
}
#menu-starter{
    display: block;
    position: relative;
    font-size: 2.5vw !important;
}
.option-but{
    margin:7px;
    color: black !important;
    display: none;
    background-color: white !important;
    
    cursor: pointer;
}
button {
    background-color: white !important;

}
#playing{
    text-align: center;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    display: none;
    color: #f1f1f1;
}

#pausegame .overlay-content .pointer{
    margin-bottom: 40px;
    color: white !important;
    cursor: pointer;
}
.sizeX{
    font-size: 18px;
    cursor: pointer;
}
#multi{
    font-size: 8.35vw !important;
}
#single{
    font-size: 8vw !important;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: black; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center !important; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1 !important;
  }
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  

#s-1{
    font-size: 6vw;
}
#s-1:hover{
    color: #f1f1f1 !important;
}
._player{
    color: aliceblue;
    cursor: pointer;
}
.numberOfplayer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#option-but{
    margin: 10px 10px !important;
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 1vw;
    color: #f1f1f1;
}
.count-point{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}
.point{
    font-size: 3.5vw;
    margin: 0;
    position: relative;
    top: 40%;
}
.point-container{
    text-align: center;
}
#one,#two{
    display: none;
}
.two-type{
    font-size: 4.5vw;
    display: none;
}


.logo {
    padding-top: 30px;
    margin-top: 30 px;
    
}